
#addjob{
    position: fixed; 
    z-index: 1; 
    width: 100%;
    height: 100%;
}


#jobform{
    width: 250px;
    height: 200px;
    background-color: #38b5a9fc;
    border: 4px solid  rgba(56, 181, 169, 0.564);
    border-radius: 17px;
    margin: 0 auto;
    box-shadow: 10px 10px 54px 85px rgba(0,0,0,0.1);
    border-radius: 1%;
}

.Button{
    width: 80px;
    margin-top: 3%;
    
}