
.addjob{
    position: fixed; 
    width: 100%;
    height: 100%;
    background-color: rgba(17, 2, 26, 0.68);
    top: 0
}


#jobform{
    width: 250px;
    height: 200px;
    background-color: white;
    border-radius: 17px;
    margin: 300px auto 0 auto;
    border-radius: 1%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
input{
    border: 2px solid  rgb(175, 20, 252);
    font-size: 18px;
    border-radius: 7px;
}

.Button{
    margin-top: 3%;
}
#SubmitButton{
    background-color: rgb(175, 20, 252);
    border-radius: 7px;
    color: white;
    font-size: 18px;
    border: none
}