.Job{
    margin: 2% auto 0 auto;
    padding: 3%;
    border-radius: 17px;
    width: 60%;
    color: white;
    height: 170px;
    display: flex;
    justify-content: space-between

}


.Jobcard{
    width: 100%;
    
}
.Delete{
    color: white;
    background: none;
    border: none;
    font-size: 26px;
}

.JobDetails{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%
}

.DeleteWindow{
    padding:3%
}

.CancelButton{
    background-color: rgba(146, 103, 167, 0.781);
    border-radius: 7px;
    color: white;
    font-size: 18px;
    border: none
}